---
import Layout from '../layouts/Layout.astro'
import Project from '../components/Project.astro'
import Tech from '../components/Tech.astro'
import projects from '../data/projects.json'
import techs from '../data/techs.json'
---

<Layout>
  <div class="mx-auto max-w-3xl mb-32 w-full">
    <a target="_blank" rel="noreferrer noopener" href="https://www.nationstates.net/kractero">
      <img class="mb-8" src="Flag.png" />
      <h1 class="font-medium text-2xl mb-8 tracking-tighter">Kractero 🃏</h1>
      <p class="prose prose-invert">
        The Kingdom of Kractero, also known as Scramble, is an off and on player of NationStates since 2011. In their
        time on the site, they have not done much of any note. Hopefully, it picks up soon.
      </p>
    </a>
  </div>

  <div class="mx-auto max-w-3xl mb-32 w-full">
    <h2 class="text-lg mb-2 tracking-tighter">Projects</h2>
    <ul class="space-y-4 py-4">
      {
        projects.map(project => (
          <Project url={project.url} name={project.name} techs={project.techs} desc={project.desc} />
        ))
      }
    </ul>
    <a class="text-base font-bold underline mt-8" href="https://github.com/Kractero">Other random stuff on GitHub</a>
  </div>

  <div class="mx-auto max-w-3xl w-full mb-48">
    <h2 class="text-2xl mb-2">Technologies I butcher</h2>
    <img
      class="my-8"
      src="https://github-readme-stats.vercel.app/api/top-langs/?username=kractero&layout=donut-vertical&theme=dark"
    />
    <p class="mb-6">Tools subject to my poor code quality.</p>
    <div class="my-8 flex flex-row gap-8 w-full justify-center">
      {techs.map(tech => <Tech url={tech.url} img={tech.img} name={tech.name} />)}
    </div>
  </div>
</Layout>
